:root {
    font-family: DejaVu Sans Mono, monospace, sans;
    background: #232627;
    color: #fff;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 4px;
}

input, button {
    background-color: #2f3438;
    border: 2px inset #585858;
    color: #fff;
}

.comment {
    color: #528d4c;
}